.planScreen__plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.planScreen__plan:hover {
    opacity: 1;
}

.planScreen__plan > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.planScreen__plan--disabled > button {
    background-color: gray !important;
}

.planScreen > h5 {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    .planScreen__plan {
        padding-left: 0;
        padding-right: 0;
    }
}
